if ARCH_ASPEED

menu "ASPEED AST SoC Selection"

choice
	prompt "ASPEED Processor Family"
	default CONFIG_IRMP

config IRMP
	bool "IRMP Serials"

config PCEXT
	bool "PC Extender Serials"

config REMOTEFX
	bool "RemoteFX Zero-Client Serials"

config RT360_CAM
	bool "Real Time 360 Cam"

endchoice

if IRMP

choice
	prompt "IRMP Serials"
	default CONFIG_ARCH_AST2300

config ARCH_AST2300
	select CPU_ARM926T
	bool "AST2300"

config ARCH_AST2400
	select CPU_ARM926T
	select USB_ARCH_HAS_EHCI
	bool "AST2400"

config ARCH_AST2500
	select CPU_V6
	select USB_ARCH_HAS_EHCI
	select EGFX_IRQ
	bool "AST2500"

endchoice

endif

if PCEXT

choice
	prompt "PC Extender Serials"
	default CONFIG_ARCH_AST1510

config ARCH_AST1500
	select CPU_ARM926T
	bool "AST1500"

config ARCH_AST1510
	select CPU_ARM926T
	bool "AST1510"

config ARCH_AST1520
	select CPU_V6
	select USB_ARCH_HAS_EHCI
	bool "AST1520"

endchoice

endif

if REMOTEFX

choice
	prompt "RemoteFX Zero-Client Serials"
	default CONFIG_ARCH_AST3100

config ARCH_AST3100
	select CPU_ARM926T
	select USB_ARCH_HAS_EHCI
	bool "AST3100"

config ARCH_AST3200
	select CPU_V6
	select USB_ARCH_HAS_EHCI
	select EGFX_IRQ
	bool "AST3200"

endchoice

endif

if RT360_CAM

choice
        prompt "Real Time 360 Cam Serials"
        default CONFIG_ARCH_AST1220

config ARCH_AST1220
        select CPU_V6
        bool "AST1220"

endchoice

config AST_CAM_FPGA
	bool "AST CAM FPGA"

endif

config AST_CVIC
	bool "AST CVIC"

config AST_SCU_LOCK
	bool "AST SCU Protection Key"

config AST1070_UART_DMA
	bool

endmenu

endif
