menuconfig MACH_PILOT4_ASIC
        bool "Pilot4 running on ASIC" if ARCH_MULTI_V7
        select GENERIC_TIME
        select GENERIC_CLOCKEVENTS
        select CLKDEV_LOOKUP
        select ARM_GIC
        select ARM_AMBA
        select HAVE_SMP
        select HAVE_ARM_SCU if SMP
        select HAVE_ARM_TWD if SMP
        select COMMON_CLK
        select MIGHT_HAVE_PCI
        select ARCH_SUPPORTS_MSI
	select ARCH_PILOT4
        help
          Support for Pilot4 running on Pilot4 ARM Cortex A9 Platform

config ARCH_PILOT4
    bool "Pilot4 Arch"
    default y
    depends on MACH_PILOT4_ASIC
    help
    this is help

config USE_SSP_RESET
	bool "PILOT4 CPU RESET FROM SSP"
	default n
	depends on MACH_PILOT4_ASIC
	help
	Enable this to make BMC CPU RESET from SSP to work Pilot 4

config PANIC_AND_BAIL_OUT
	bool "PILOT4 STACK DUMP ON WAIT LOOP TIME OUT"
	default n
	depends on MACH_PILOT4_ASIC
	help
	Enable this to generate stack dump when the wait loops time out

