// SPDX-License-Identifier: GPL-2.0+
/dts-v1/;

#include "aspeed-g5.dtsi"

/ {
	model = "AST2500 EVB";
	compatible = "aspeed,ast2500";

	aliases {
		serial0 = &uart1;
		serial1 = &uart2;
		serial2 = &uart3;
		serial3 = &uart4;
		serial4 = &uart5;
		mmc0 = &sdhci_slot0;
		mmc1 = &sdhci_slot1;
	};

	chosen {
		stdout-path = &uart5;
		bootargs = "console=tty0 console=ttyS4,115200 earlyprintk";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x20000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		gfx_memory: framebuffer {
			size = <0x01000000>;
			alignment = <0x01000000>;
			compatible = "shared-dma-pool";
			reusable;
		};
	};

	reserved-memory {
                #address-cells = <1>;
                #size-cells = <1>;
                ranges;

                video_memory: video {
                        size = <0x04000000>;
                        alignment = <0x01000000>;
                        compatible = "shared-dma-pool";
                        no-map;
                };
         };

};

&fmc {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "bmc";
		spi-max-frequency = <50000000>;
#include "openbmc-flash-layout.dtsi"
	};
};

&edac {
	status = "okay";
};

&spi1 {
	status = "okay";
	flash@0 {
		status = "okay";
		m25p,fast-read;
		label = "pnor";
		spi-max-frequency = <100000000>;
	};
};

&spi2 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

&uart4 {
	status = "okay";
};

&uart5 {
	status = "okay";
};

&mac0 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii1_default &pinctrl_mdio1_default>;
};

&mac1 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_rgmii2_default &pinctrl_mdio2_default>;
};

&i2c0 {
	status = "okay";
};

&i2c1 {
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&i2c5 {
	status = "okay";
};

&i2c6 {
	status = "okay";
};

&i2c7 {
	status = "okay";
};

&i2c8 {
	status = "okay";
};

&hace {
	status = "okay";
};

&sdc {
	status = "okay";
};

&sdhci_slot0 {
 	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sd1_default>;
	max-frequency = <50000000>;
	bus-width = <4>;
	status = "okay";
};

&sdhci_slot1 {
 	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sd2_default>;
	non-removable;
	max-frequency = <50000000>;
	bus-width = <4>;
	status = "okay";
};

&jtag {
	status = "okay";
};

&xdma {
	status = "okay";
};

&mctp {
	status = "okay";
};

&video {
        memory-region = <&video_memory>;
	status = "okay";
};

/*
 * Enable port A as device (via the virtual hub) and port B as
 * host by default on the eval board. This can be easily changed
 * by replacing the override below with &ehci0 { ... } to enable
 * host on both ports.
 */
&vhub {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&uhci {
	status = "okay";
};

&gfx {
     status = "okay";
     memory-region = <&gfx_memory>;
};

&pwm_tacho {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_pwm0_default &pinctrl_pwm1_default
                         &pinctrl_pwm2_default &pinctrl_pwm3_default
                         &pinctrl_pwm4_default &pinctrl_pwm5_default
                         &pinctrl_pwm6_default &pinctrl_pwm7_default>;

        fan@0 {
                reg = <0x00>;
                aspeed,fan-tach-ch = /bits/ 8 <0x00>;
        };

        fan@1 {
                reg = <0x01>;
                aspeed,fan-tach-ch = /bits/ 8 <0x01>;
        };

        fan@2 {
                reg = <0x02>;
                aspeed,fan-tach-ch = /bits/ 8 <0x02>;
        };

        fan@3 {
                reg = <0x03>;
                aspeed,fan-tach-ch = /bits/ 8 <0x03>;
        };

};

