/dts-v1/;

#include "aspeed-g6.dtsi"

/ {
	model = "AST2600 EVB";
	compatible = "aspeed,ast2600";

	aliases {
		serial0 = &uart1;
		serial1 = &uart2;
		serial2 = &uart3;
		serial3 = &uart4;
		serial4 = &uart5;
	};

	chosen {
		stdout-path = &uart5;
		bootargs = "console=tty0 console=ttyS4,115200n8 root=/dev/ram rw init=/linuxrc";
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x80000000 0x40000000>;
	};

};

&spi0 {
        status = "okay";
        flash: m25p80@0 {
                compatible = "mx25l25635e", "m25p80", "jedec,spi-nor";
                reg = <0x0>;
                #address-cells = <0x1>;
                #size-cells = <0x1>;
                spi-max-frequency = <50000000>;
                m25p,fast-read;
                        partition@0 {
                                label = "all.bin 8MB";
                                reg = <0x000000 0x0800000>; /* 8 MiB */
                        };
                        partition@1 {
                                label = "u-boot";
                                reg = <0x000000 0x060000>; /* 384 KiB */
                        };
                        partition@2 {
                                label = "u-boot-env";
                                reg = <0x060000 0x010000>; /* 64 KiB */
                        };
                        partition@3 {
                                label = "dts";
                                reg = <0x070000 0x010000>; /* 64 Kib */
                        };
                        partition@4 {
                                label = "kernel";
                                reg = <0x080000 0x380000>; /* 3.5 MiB */
                        };
                        partition@5 {
                                label = "rootfs";
                                reg = <0x400000 0x400000>; /* 4 MiB */
                        };
                        partition@6 {
                                label = "pd_rootfs";
                                reg = <0x800000 0x0>;
                        };
        };
};

&pwm_tacho {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_pwm0_default &pinctrl_tach0_default &pinctrl_pwm1_default &pinctrl_tach1_default>;
};

#if 0
&vhub {
    status = "okay";
};
#else
&ehci0 {
    status = "okay";
};

&ehci1 {
    status = "okay";
};

&uhci {
    status = "okay";
};
#endif
#if 0
&sdhci_slot0{
	status = "okay";
};

&sdhci_slot1{
	status = "okay";
};
#endif
&emmc_slot0{
	status = "okay";
};

